html {
  background-color: #0C3804;
  background-image: url(./images/lupins.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 1rem 5rem 5rem;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: white;
}
h1 {
  font-size: 2.5rem;
}
.main-container {
  color:  darkgreen;
  border-radius: 3px;
}
.ais-InstantSearch__root {
  font-family: 'Libre Franklin', sans-serif;
}
.ais-Hits__root {
  display: flex;
}
.hit-name {
  margin: 5px;
  padding: 0 20px 20px 20px;
  border-radius: 4px;
  background-color: white;
  width: 400px;
  height: 80vh;
  overflow-y: scroll;
}
.hit-name:first-child {
  margin-left: 0;
}

.ais-Highlight__separator hr {
  display: block;
  text-align: center;
  margin: 15px auto;
  width: 15%;
  border: none;
  height: 1px;
  background-color: gainsboro;
  color: gainsboro;
} 
h2 {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: 'Libre Franklin', sans-serif;
}
h2::first-letter {
  color: #f46155;
  font-size: 2.5rem;
  margin-right: 10px;
}


   ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.05);
  }

